{{#each blogs as |blog|}}

  <div class="blog">


    <div class="card mt-4 mx-2" data-id="{{blog.id}}">
      <div class="card-header">
        {{blog.blog_name}}

        <button class="delete-blog" data-blog="{{blog.id}}" data-user="{{user.id}}">Delete
        </button>
        <!--  THIS IS EVENT.TARGET-->
        <button class="update-blog-btn">Edit</button>


      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{blog.content}}</p>
          <footer class="blockquote-footer">Blog ID is: {{blog.id}}</footer>
        </blockquote>
      </div>
    </div>

    <!-- TEST -->
    <!-- TODO: MAKE SURE NO IDS ARE DUPLICATED -->
    <!--  THIS IS WHAT WE'RE TRYING TO HIDE-->
    <div class="update-blog-modal modal">
      <div class="update-blog-modal-content">
        <span class="update-blog-close">&times;</span>
        <!--  CURRENTLY WORKING HERE-->
        <form class="update-blog" data-blog="{{blog.id}}">
          <input type="text" name="blog[blog_name]" placeholder="Update Blog Name">
          <input type="text" name="blog[content]" placeholder="Update Blog Content">
          <button>Update</button>
        </form>
      </div>
    </div>
    <!-- TEST END -->

  </div>

{{/each}}
